from invenio_i18n import lazy_gettext as _
from oarepo import config

# glitchtip for reporting incidents
config.initialize_glitchtip()

# i18n
config.initialize_i18n()

config.configure_generic_parameters(
    code="sample_repository",
    name=_("Sample Repository"),
    description=_("Sample Repository"),
    languages=(
        ("cs", _("Czech")),
    ),
)

# config.configure_communities(
#     # if you have different community roles than owner, curator and member,
#     # you can specify them here
# )

# config.register_workflow(
#     "default",
#     _("Default deposition workflow"),
#     "common.workflows.default.DefaultWorkflowPermissions",
#     "common.workflows.default.DefaultWorkflowRequests",
# )

config.configure_cron()

# to enable datacite, uncomment the following lines
# from common.config.datacite import (
#               enable_datacite,
#               datacite_default_credentials,
#               datacite_community_prefix
# )
# enable_datacite(env)
# datacite_default_credentials(
#               env.INVENIO_DATACITE_PREFIX,
#               env.INVENIO_DATACITE_USERNAME,
#               env.INVENIO_DATACITE_PASSWORD)
# )
# datacite_community_prefix(
#              "biocev",
#               env.INVENIO_DATACITE_BIOCEV_PREFIX,
#               env.INVENIO_DATACITE_BIOCEV_USERNAME,
#               env.INVENIO_DATACITE_BIOCEV_PASSWORD)

# vocabularies:
# config.configure_vocabulary(
#     code="languages",
#     name=_("Languages"),
#     description=_("Language definitions vocabulary."),
#     props={
#         "alpha3Code": {
#             "description": _("ISO 639-2 standard 3-letter language code"),
#             "icon": None,
#             "label": _("Alpha3 code (English)"),
#             "multiple": False,
#             "placeholder": "eng, cze...",
#             "search": False,
#         },
#     },
#     dump_options=True,
# )

# Feel free to add/override configuration options here. List of options can be
# found in the Invenio source code:
# https://github.com/inveniosoftware/invenio-app-rdm/blob/master/invenio_app_rdm/config.py

# datasets model registration
from datasets.model import datasets

datasets.register()

WEBPACKEXT_NPM_PKG_CLS = "pynpm:PNPMPackage"

APP_DEFAULT_SECURE_HEADERS = {
    # NOTE: in production, the content security policy from here is overwritten in deployment !
    "content_security_policy": {
        "default-src": [
            "'self'",
            "data:",  # for fonts
            "'unsafe-inline'",  # for inline scripts and styles
            "'unsafe-eval'",  # for inline scripts
            "blob:",  # for pdf preview
            # Add your own policies here (e.g. analytics)
            "matomo.techlib.cz",
        ],
        "frame-ancestors": ["'self'"],
        "frame-src": ["'self'"],
    },
    "content_security_policy_report_only": False,
    "content_security_policy_report_uri": None,
    "force_file_save": False,
    "force_https": True,
    "force_https_permanent": False,
    # NOTE: in production, the frame options are overwritten in deployment !
    "frame_options": "SAMEORIGIN",
    "frame_options_allow_from": None,
    # session cookie as strict as possible
    "session_cookie_samesite": "Lax",
    "session_cookie_http_only": True,
    "session_cookie_secure": True,
    # NOTE: in production, STS is overwritten in deployment !
    "strict_transport_security": True,
    "strict_transport_security_include_subdomains": True,
    "strict_transport_security_max_age": 31556926,  # One year in seconds
    "strict_transport_security_preload": False,
}

FILES_REST_DEFAULT_QUOTA_SIZE = 10**10


APP_RDM_DEPOSIT_FORM_QUOTA = {
    "maxFiles": 10,
    "maxStorage": FILES_REST_DEFAULT_QUOTA_SIZE,
}


RDM_REQUESTS_ROUTES = {
    "user-dashboard-request-details": "/me/requests/<request_pid_value>",
    "community-dashboard-request-details": "/communities/<pid_value>/requests/<request_pid_value>",
    "community-dashboard-invitation-details": "/communities/<pid_value>/invitations/<request_pid_value>",
}

RDM_COMMUNITIES_ROUTES = {
    "community-detail": "/communities/<pid_value>/records",
    "community-home": "/communities/<pid_value>/",
    "community-browse": "/communities/<pid_value>/browse",
    "community-static-page": "/communities/<pid_value>/pages/<path:page_slug>",
    "community-collection": "/communities/<pid_value>/collections/<tree_slug>/<collection_slug>",
}

RDM_SEARCH_USER_COMMUNITIES = {
    "facets": ["visibility", "type"],
    "sort": ["bestmatch", "newest", "oldest"],
}
"""User communities search configuration (i.e list of user communities)"""

RDM_SEARCH_USER_REQUESTS = {
    "facets": ["type", "status"],
    "sort": ["bestmatch", "newest", "oldest"],
}

APP_RDM_USER_DASHBOARD_ROUTES = {
    "uploads": "/me/uploads",
    "communities": "/me/communities",
    "requests": "/me/requests",
}

APP_RDM_ROUTES = {
    "index": "/",
    "robots": "/robots.txt",
    "help_search": "/help/search",
    "help_statistics": "/help/statistics",
    "help_versioning": "/help/versioning",
    "record_search": "/search",
    "record_detail": "/records/<pid_value>",
    "record_export": "/records/<pid_value>/export/<export_format>",
    "record_file_preview": "/records/<pid_value>/preview/<path:filename>",
    "record_file_download": "/records/<pid_value>/files/<path:filename>",
    "record_thumbnail": "/records/<pid_value>/thumb<int:size>",
    "record_media_file_download": "/records/<pid_value>/media-files/<path:filename>",
    "record_from_pid": "/<any({schemes}):pid_scheme>/<path:pid_value>",
    "record_latest": "/records/<pid_value>/latest",
    "dashboard_home": "/me",
    "deposit_create": "/uploads/new",
    "deposit_edit": "/uploads/<pid_value>",
}

USER_DASHBOARD_MENU_OVERRIDES = {}

COMMUNITIES_RECORDS_SEARCH = {
    "facets": ["access_status", "resource_type", "language"],
    "sort": ["bestmatch", "newest", "oldest", "version"],
}